@charset "UTF-8"; 

body {
    width: 98vw;
    height: 98vh;
    padding: auto;
    margin: auto;
}

.container { display: inline-flex;
    max-width: 500px;}

    .container img {
        margin-right: 20px;
        
      
        
    }

    .container ul {width: 300px;
    max-width: 300px;
    word-wrap: break-word;
    columns: 1;

}

