@charset "UTF-8"; 

@font-face {
        font-family: 'jack' ;
        src: url('fontes/JACKPORT REGULAR NCV.ttf') format(truetype);
}


body {background-image: url('imagem/galaxia 4.webp');
        background-position: top center;
        background-size: cover;
        background-repeat: repeat-y;
        background-attachment: fixed;
font-family: Arial, Helvetica, sans-serif;}

main h1 {font-family: 'jack', times;
font-size: 4em;
text-align: center;
color: #391a46;}

main h2 {font-family: 'jack', times;
font-size: 2.0em;
background-image: linear-gradient(to right, #D6ACF2, transparent);
padding: 0px 0px 0px 5px;
border-radius: 5px;}
h3 {font-family: Arial, Helvetica, sans-serif;}
h4 {font-family: 'jack', Helvetica, sans-serif;
font-size: 2em;}

:root { --cor01: #D6ACF2;
        --cor02: #D285F2;
        --cor03: #A455D9;
        --cor04: #3B2E62;
        --cor05: #151426;
        --cor06: #fc5757;

}

body {height: 100vh;
        
        background-color: rgb(188, 214, 238);
font-family: Arial, Helvetica, sans-serif;}

main {background-color: white;
min-width: 300px;
max-width: 1000px;
margin: auto;
margin-bottom: 40px;
padding: 20px;
}

header {margin: 20px;}


header img {display: block;
margin: auto;
background-color: white;
width: 100%;
max-width: 1040px;}

main img {width: 100%;
margin: auto;
display: block;}



div.video {background-image: url('imagem/galaxia 5.webp');
 /*margin-bottom: 30px; para distanciar o video da lista */
 margin: 0px -20px 30px -20px;  /* foi usado para deixar o quadro do video na linha do main */
 padding-bottom: 50%;
 position: relative;
 

} 

div.video > iframe {position: absolute; /*isso deixou o video flutuando no site */
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;  /* essa configuração foi usada para centralizar o video */

} 
aside {max-width: 200px;} 

footer {color: white;
text-align: center
;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.5em;}


.container { display: inline-flex;
max-width: 800px;}

.container img {
    margin-right: 20px;
    
    
    
}

.container ul {width: 800px;
max-width: 800px;
word-wrap: break-word;
columns: 1;

}

a {
       text-decoration: none; 
       
}
 
a:hover {
        color:  var(--cor04);
        margin: 2px;
        
       
}

h4 {
        background-image: linear-gradient(to right, #D6ACF2, transparent);
        border-radius: 5px;
        margin: 20px -149px 20px 0px;
        padding: 0px 0px 0px 10px;
        

        

}

footer {
        padding-bottom: 10px;
        
}



