@charset "UTF-8"; 

@font-face {
        font-family: 'jack' ;
        src: url('fontes/JACKPORT REGULAR NCV.ttf') format(truetype);
}


body {background-image: url('imagem/galaxia 2.jpg');
font-family: Arial, Helvetica, sans-serif;}

main h1 {font-family: 'jack', times;
font-size: 5em;
text-align: center;
color: #391a46;}

main h2 {font-family: 'jack', times;
font-size: 2.5em;
background-image: linear-gradient(to right, #D6ACF2, transparent);}
h3 {font-family: Arial, Helvetica, sans-serif;}
h4 {font-family: 'jack', Helvetica, sans-serif;
font-size: 2em;}

:root { --cor01: #D6ACF2;
        --cor02: #D285F2;
        --cor03: #A455D9;
        --cor04: #3B2E62;
        --cor05: #151426;
        --cor06: #fc5757;

}

body {background-color: rgb(188, 214, 238);
font-family: Arial, Helvetica, sans-serif;}

main {background-color: white;
min-width: 300px;
max-width: 1000px;
margin: auto;
margin-bottom: 40px;
padding: 20px;
}

header {}


header img {display: block;
margin: auto;
background-color: white;
width: 100%;
max-width: 1040px;}

main img {width: 100%;
margin: auto;
display: block;}



div.video {background-image: url('imagem/galaxia 1.png');
 /*margin-bottom: 30px; para distanciar o video da lista */
 margin: 0px -20px 30px -20px;  /* foi usado para deixar o quadro do video na linha do main */
 padding-bottom: 50%;
 position: relative;
 

} 

div.video > iframe {position: absolute; /*isso deixou o video flutuando no site */
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;  /* essa configuração foi usada para centralizar o video */

} 
aside {max-width: 200px;} 

footer {color: white;
text-align: center
;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.5em;}

