@charset "UTF-8";

@font-face {
    font-family: Shadow;
    src: url('Shadow\ Sprayz.ttf') format('truetype');
}


@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

/* font-family: 'Sedgwick Ave Display', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

/* font-family: 'Sedgwick Ave Display', cursive; */

* {margin: 0%;
padding: 0%;}

html, body { min-height: 100vh;}

header {background-image: linear-gradient(rgb(20, 20, 71), rgba(0, 0, 255, 0.527));
text-align: center;
color: white;}


header > h1 {padding-top: 50px;
    font-size: 8vw;
    font-variant: small-caps;
    font-family: Shadow, Arial, sans-serif;


}

header > p {padding-bottom: 50px;
    font-size: 2.5vw;
    font-family: 'Sedgwick Ave Display', cursive;
    

}

a {text-decoration: none;
color: white;}

a:hover {text-decoration: underline;
    color: rgb(0, 0, 77);
}





section {padding-top: 3vw;
    padding-bottom: 3vw;
padding-left: 30px;
font-size: 2.3vw;
line-height: 2.5em;
font-family: 'Sedgwick Ave Display', cursive;
}

section > p {font-size: 3vw;
padding-top: 2em;}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    display: inline-block;
    text-shadow: 2px 2px 0px black;
   
    
}

section.imagem {background-color: black;
color: white;
background-attachment: fixed;
background-size: cover; }


section#img1 {background-image: url('cbjr30b.png');
    background-position: center 
    
    

}
section#img2 {background-image: url('cbjr30b.png');
    background-position: center center;}

section#img3 {background-image: url('cbjr30b.png');
    background-position: center center;
    
    
}

footer {background-image: linear-gradient(rgb(20, 20, 71), rgba(0, 0, 255, 0.527));
color: white;
text-align: center;
padding: 10px;
font-family: Arial, Helvetica, sans-serif;
}